<!DOCTYPE html>
<html>
{% include head.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-32VEHM8QPQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-32VEHM8QPQ');
</script>
<body>
  <div id="wrapper">
    {% include header.html %}
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
    {% elsif paginator.previous_page%}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
    {% else %}
    <span class="page-item">&laquo;</span>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
    <span class="page-item">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
    {% else %}
    <span class="page-item">&raquo;</span>
    {% endif %}
  </div>
  {% endif %} {% include footer.html %}

  <script type="text/javascript">
    // Function to create a copy button for each <pre><code> element
    function injectCopyButtons() {
	const codeBlocks = document.querySelectorAll('pre > code'); // Select all <pre> elements

    	codeBlocks.forEach(code => {
    	    // Create a button element
	    code.style.position = "relative";
    	    const button = document.createElement('button');
    	    button.innerText = 'Copy';
	    button.classList.add('copy-button');
    	    // Add click event to copy text to clipboard
    	    button.addEventListener('click', () => {
    	        // Select the text in the code block
		const textToCopy = code.innerText;
    	        navigator.clipboard.writeText(textToCopy).then(() => {
    	            alert('Code copied to clipboard!');
    	        }).catch(err => {
    	            console.error('Failed to copy: ', err);
    	        });
    	    });

    	    // Append the button to the <pre> element
	    code.parentNode.parentNode.appendChild(button);
    	});
    }

    // Run the function to inject copy buttons
    injectCopyButtons();
  </script>
</body>

</html>
